.wrapper{
  width: 1200px;
  font-size: 36px;  
  margin: 0 auto;
}

.header{
  background-color: aquamarine;
  height: 100px;
}

.left-box{
  width: 200px;
  height: 500px;
  float: left;
  background-color: cornflowerblue;
}

.right-box{
  width: 1000px;
  height: 500px;
  float: right;
  background-color: coral;  
}

.footer{
  background-color: lightgreen;
  clear: both;
  height: 100px;
}
